<a href="https://colab.research.google.com/github/mishu-ishu/Maira_Dharwal_TCOB02_DSBDA/blob/main/DSBDA_Pract1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
d = pd.read_excel("/content/Student-Data.xlsx")
print(d)

    Sr.\nno. Roll No               Name of the Student  DM   FDS  OOP   CG  \
0          1  SCOA01                     ALISHA SHEIKH  24  27.0   20   15
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0    9   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0   16   15
3          4  SCOA04                       RIYA JAWALE  18  14.0   11    8
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0   16   24
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0   AB    0
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0    3   16
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0   19   16
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0  NaN   15
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0   11   23
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0    7   18
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0   24   21
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0   12   29
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0    9   13
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0   12   12
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0   12  NaN
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   NaN    5    7
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0  NaN   28
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0    7   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0   16   26
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0   19   10

   DELD
0    16
1    AB
2    15
3    15
4    20
5    AB
6     7
7    23
8     7
9    AB
10   10
11   AB
12   AB
13   10
14   13
15   16
16   AB
17   17
18   14
19   20
20   13

In [ ]:
s = pd.Series(d["DM"])
print(s)
print("\n")

0     24
1     16
2     20
3     18
4     20
5     20
6     22
7     24
8     22
9     24
10    18
11    20
12    16
13    16
14    18
15    20
16    12
17    24
18    22
19    20
20    22
Name: DM, dtype: int64

In [ ]:
sor = s.head(5).sort_values()
print(sor)

1    16
3    18
2    20
4    20
0    24
Name: DM, dtype: int64

In [ ]:
c = s.count()
print(c)

21

In [ ]:
noNAN = d.replace(to_replace = np.nan, value = 2)
print(noNAN)

    Sr.\nno. Roll No               Name of the Student  DM   FDS OOP  CG DELD
0          1  SCOA01                     ALISHA SHEIKH  24  27.0  20  15   16
1          2  SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9.0   9  AB   AB
2          3  SCOA03                SHELAR NEHA NILESH  20  23.0  16  15   15
3          4  SCOA04                       RIYA JAWALE  18  14.0  11   8   15
4          5  SCOA05             NARHE VARSHA RAOSAHEB  20  24.0  16  24   20
5          6  SCOA06           BHUTDA MAHESH SHANTILAL  20   9.0  AB   0   AB
6          7  SCOA07              JAGTAP HARISH YUVRAJ  22  18.0   3  16    7
7          8  SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20.0  19  16   23
8          9  SCOA09              DARWEY RUDRA GUNWANT  22  12.0   2  15    7
9         10  SCOA10                ERANDE TEJAS DIPAK  24  18.0  11  23   AB
10        11  SCOA11             TRIPATHI VIKALP VIKAS  18  13.0   7  18   10
11        12  SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23.0  24  21   AB
12        13  SCOA13              MUNGASE SARTHAK ANIL  16  24.0  12  29   AB
13        14  SCOA14                 GOYAL SURAJ MANOJ  16  19.0   9  13   10
14        15  SCOA15              DHAWNE DEVANG GANESH  18  21.0  12  12   13
15        16  SCOA16              SHELKE GAURAV GIRISH  20  19.0  12   2   16
16        17  SCOA17           KHATAL NANDINI RAJENDRA  12   2.0   5   7   AB
17        18  SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24.0   2  28   17
18        19  SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23.0   7  14   14
19        20  SCOA20                VIDULA VIKAS PATIL  20  24.0  16  26   20
20        21  SCOA21           BHONGALE OMKAR MADHUKAR  22  17.0  19  10   13